body
{
    position: absolute;
    min-width: 100%;
    min-height: 100%;
}
.dataTables_info {
	display: none;
}
th {
	text-align: center !important;
}
.nav-item {
	width:75px;
}
a:hover {
	text-decoration: none !important;
}

.mainScreenInfoButtons {
	float: right; 
}
.teamInfoValues {
	float: right; 
	margin-right: 20%;
}
.modal-title {
	color:#4c16aa;
}
.playerModalInfo {
	float: right; 
	margin-right: 40%;
}